apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-api-deployment
  labels:
    app: product-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-api
  template:
    metadata:
      labels:
        app: product-api
    spec:
      containers:
        - name: product-api
          image: gcr.io/cme-pre-intern/product-api:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8000
          env:
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: cloudsql-db-config
                  key: DB_NAME
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: cloudsql-db-config
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: cloudsql-db-config
                  key: DB_PORT
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: cloudsql-db-secret
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: cloudsql-db-secret
                  key: DB_PASS
            - name: API_KEYS
              valueFrom:
                secretKeyRef:
                  name: cloudsql-db-secret
                  key: API_KEY
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
        - name: cloud-sql-proxy
          image: gcr.io/cloudsql-docker/gce-proxy:1.37.2
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false
          command:
            - '/cloud_sql_proxy'
            - '-instances=cme-pre-intern:us-central1:products-db-instance=tcp:5433'
          ports:
            - name: dbproxy
              containerPort: 5433
